.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0px;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline-color: tomato;
    position: relative;
    box-sizing: border-box;
}

.required-star {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}

.place-order-left .multi-field {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.payment-options {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.payment-option, .google-pay-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid tomato;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.google-pay-option {
    justify-content: center;
    background-color: white;
}

.payment-options button {
    border: none;
    background-color: tomato;
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.confirmation-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .place-order {
        flex-direction: column;
    }
}
